/* Navbar */

.navbar-nav a{
  font-size:18px;
}

nav {
  background-color: blue;
}


.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.fa-trash {
  cursor: pointer;
  transition: all 245ms ease-in-out;
}

.fa-trash:hover {
  color: red;
}

.fatimes {
  margin-top: 3px;
  font-size: 30px;
  transition: all 245ms ease-in-out;
}

.fatimes:hover {
  color: red;
}

div .col-md-3 .card {
  border-radius: 0px;
  border: 2px solid blue;
  transition: all 245ms ease-in-out;
}

div .col-md-3 .card:hover {
  border: 0px;
  padding: 10px;
  box-shadow: 5px 5px;
}

div .buttons .btn-outline-info {
  border-radius: 0px;
  border: 2px solid yellow;
  color: blue;
  transition: all ease-in-out 0.3s;
}

div .buttons .btn-outline-info:hover{
  background-color: blue;
  color: yellow;
}

div .detail{
  font-weight: 400;
  transition: all 245ms ease-in-out;
}

div .detail:hover {
  color: blue;
  font-weight: 500;
}

div .btn-outline-dark {
  border-radius: 0px;
  border: 2px solid
}

div ul li .nav-pages:hover{
  color: yellow;
  text-decoration: underline;
}